.array-container {
    position: absolute;
    left: 100px;
    right: 100px;
    top: 100px;
}
.array-bar {
    width: 10px;
    background-color: green;
    display: inline-block;
    margin: 0 2px;
}